.Weather {
    padding: 70px 10px;
}

.Weather button {
    border-radius: 7px;
    min-width: fit-content;
    width: 100%;
}

.Weather input {
    background: lightblue;
}

.weather-data {
    padding: 30px;
    color: white;
}

.weather-data li {
    list-style: none;
}

.Forecast {
    max-width: 80%;
    margin: 0 auto;
}

.Forecast .col {
    text-align: center;
}

.Forecast .weekday {
    display: block;
    color: cornflowerblue;
}